@layer theme-colors {
  :root {
    /* Figma common colors */
    --skeletor-bg: var(--color-surface-a3);
    --body-bg-color: var(--color-surface-3);
    --body-bg-color-a: hsl(0deg 15% 10% / 0.85);
    --border-default: var(--color-surface-a7);
    --border-dim: var(--color-surface-a6);
    --datalist-row-bg-color: var(--color-surface-a3);
    --surface-dim: var(--color-surface-a3);
    --surface-dimmer: var(--color-surface-a2);

    /* Misc */
    --color-crown: var(--color-accent-yellow-5);
    --animation-timing-1: cubic-bezier(0.16, 1, 0.3, 1);
    --shadow-lg: 0 0 8px 0 rgb(139 0 0 / 0.6), 0 6px 12px 0 rgb(139 0 0 / 0.7);
    --shadow-md: 0 0 6px 0 rgb(139 0 0 / 0.5), 0 4px 10px 0 rgb(139 0 0 / 0.6);
    --shadow-sm: 0 0 2px 0 rgb(139 0 0 / 0.5), 0 1px 3px 0 rgb(0 0 0 / 0.9);
    --shadow-xl: 0 0 12px 0 rgb(139 0 0 / 0.7), 0 12px 40px 0 rgb(139 0 0 / 0.8);
    --dropshadow-default: drop-shadow(0 2px 4px rgb(139 0 0 / 0.7));
    --textshadow-default: 0 2px 4px rgb(139 0 0 / 0.7);

    /* Color tokens - EVIL THEME */
    --color-accent-blue-1: hsl(0deg 80% 5%);
    --color-accent-blue-10: hsl(0deg 92% 70%);
    --color-accent-blue-11: hsl(0deg 92% 85%);
    --color-accent-blue-2: hsl(0deg 80% 8%);
    --color-accent-blue-3: hsl(0deg 80% 12%);
    --color-accent-blue-4: hsl(0deg 80% 18%);
    --color-accent-blue-5: hsl(0deg 79% 28%);
    --color-accent-blue-6: hsl(0deg 80% 38%);
    --color-accent-blue-7: hsl(0deg 92% 48%);
    --color-accent-blue-8: hsl(0deg 92% 58%);
    --color-accent-blue-9: hsl(0deg 92% 65%);
    --color-accent-green-1: hsl(280deg 60% 5%);
    --color-accent-green-10: hsl(280deg 75% 70%);
    --color-accent-green-11: hsl(280deg 75% 85%);
    --color-accent-green-2: hsl(280deg 55% 8%);
    --color-accent-green-3: hsl(280deg 55% 12%);
    --color-accent-green-4: hsl(280deg 55% 18%);
    --color-accent-green-5: hsl(280deg 55% 28%);
    --color-accent-green-6: hsl(280deg 55% 38%);
    --color-accent-green-7: hsl(280deg 75% 50%);
    --color-accent-green-8: hsl(280deg 75% 60%);
    --color-accent-green-9: hsl(280deg 75% 70%);
    --color-accent-orange-1: hsl(350deg 70% 6%);
    --color-accent-orange-10: hsl(350deg 95% 75%);
    --color-accent-orange-11: hsl(350deg 95% 88%);
    --color-accent-orange-2: hsl(350deg 68% 10%);
    --color-accent-orange-3: hsl(350deg 68% 15%);
    --color-accent-orange-4: hsl(350deg 68% 22%);
    --color-accent-orange-5: hsl(350deg 68% 32%);
    --color-accent-orange-6: hsl(350deg 70% 42%);
    --color-accent-orange-7: hsl(350deg 95% 55%);
    --color-accent-orange-8: hsl(350deg 95% 65%);
    --color-accent-orange-9: hsl(350deg 95% 72%);
    --color-accent-pink-1: hsl(320deg 60% 6%);
    --color-accent-pink-10: hsl(320deg 80% 75%);
    --color-accent-pink-11: hsl(320deg 82% 88%);
    --color-accent-pink-2: hsl(320deg 58% 10%);
    --color-accent-pink-3: hsl(320deg 58% 15%);
    --color-accent-pink-4: hsl(320deg 58% 22%);
    --color-accent-pink-5: hsl(320deg 58% 32%);
    --color-accent-pink-6: hsl(320deg 60% 42%);
    --color-accent-pink-7: hsl(320deg 80% 55%);
    --color-accent-pink-8: hsl(320deg 80% 65%);
    --color-accent-pink-9: hsl(320deg 80% 72%);
    --color-accent-purple-1: hsl(270deg 65% 5%);
    --color-accent-purple-10: hsl(270deg 90% 75%);
    --color-accent-purple-11: hsl(270deg 90% 88%);
    --color-accent-purple-2: hsl(270deg 62% 10%);
    --color-accent-purple-3: hsl(270deg 62% 15%);
    --color-accent-purple-4: hsl(270deg 62% 22%);
    --color-accent-purple-5: hsl(270deg 62% 32%);
    --color-accent-purple-6: hsl(270deg 65% 45%);
    --color-accent-purple-7: hsl(270deg 90% 58%);
    --color-accent-purple-8: hsl(270deg 90% 68%);
    --color-accent-purple-9: hsl(270deg 90% 75%);
    --color-accent-red-1: hsl(0deg 70% 5%);
    --color-accent-red-10: hsl(0deg 95% 75%);
    --color-accent-red-11: hsl(0deg 95% 88%);
    --color-accent-red-2: hsl(0deg 68% 9%);
    --color-accent-red-3: hsl(0deg 68% 14%);
    --color-accent-red-4: hsl(0deg 68% 20%);
    --color-accent-red-5: hsl(0deg 68% 30%);
    --color-accent-red-6: hsl(0deg 70% 40%);
    --color-accent-red-7: hsl(0deg 95% 52%);
    --color-accent-red-8: hsl(0deg 95% 62%);
    --color-accent-red-9: hsl(0deg 95% 70%);
    --color-accent-yellow-1: hsl(30deg 60% 6%);
    --color-accent-yellow-10: hsl(30deg 85% 75%);
    --color-accent-yellow-11: hsl(30deg 88% 88%);
    --color-accent-yellow-2: hsl(30deg 58% 11%);
    --color-accent-yellow-3: hsl(30deg 58% 16%);
    --color-accent-yellow-4: hsl(30deg 58% 22%);
    --color-accent-yellow-5: hsl(30deg 58% 32%);
    --color-accent-yellow-6: hsl(30deg 60% 44%);
    --color-accent-yellow-7: hsl(30deg 85% 58%);
    --color-accent-yellow-8: hsl(30deg 85% 66%);
    --color-accent-yellow-9: hsl(30deg 86% 73%);
    --color-cyber-green-1: hsl(0deg 98% 3%);
    --color-cyber-green-10: hsl(0deg 100% 72%);
    --color-cyber-green-11: hsl(0deg 100% 88%);
    --color-cyber-green-2: hsl(0deg 85% 5%);
    --color-cyber-green-3: hsl(0deg 80% 9%);
    --color-cyber-green-4: hsl(0deg 80% 18%);
    --color-cyber-green-5: hsl(0deg 80% 28%);
    --color-cyber-green-6: hsl(0deg 80% 38%);
    --color-cyber-green-7: hsl(0deg 100% 50%);
    --color-cyber-green-8: hsl(0deg 100% 60%);
    --color-cyber-green-9: hsl(0deg 100% 68%);
    --color-nightsky-1: hsl(0deg 15% 5%);
    --color-nightsky-10: hsl(0deg 12% 35%);
    --color-nightsky-11: hsl(0deg 15% 30%);
    --color-nightsky-2: hsl(0deg 15% 8%);
    --color-nightsky-3: hsl(0deg 15% 10%);
    --color-nightsky-4: hsl(0deg 15% 13%);
    --color-nightsky-5: hsl(0deg 15% 16%);
    --color-nightsky-6: hsl(0deg 15% 19%);
    --color-nightsky-7: hsl(0deg 15% 23%);
    --color-nightsky-8: hsl(0deg 15% 28%);
    --color-nightsky-9: hsl(0deg 15% 32%);
    --color-nightsky-a1: hsl(0deg 100% 9% / 0.05);
    --color-nightsky-a10: hsl(0deg 20% 40% / 0.88);
    --color-nightsky-a11: hsl(0deg 25% 35% / 0.85);
    --color-nightsky-a2: hsl(0deg 18% 20% / 0.09);
    --color-nightsky-a3: hsl(0deg 18% 20% / 0.15);
    --color-nightsky-a4: hsl(0deg 18% 22% / 0.24);
    --color-nightsky-a5: hsl(0deg 18% 24% / 0.32);
    --color-nightsky-a6: hsl(0deg 18% 26% / 0.44);
    --color-nightsky-a7: hsl(0deg 18% 28% / 0.55);
    --color-nightsky-a8: hsl(0deg 18% 30% / 0.66);
    --color-nightsky-a9: hsl(0deg 18% 32% / 0.77);
    --color-surface-1: hsl(0deg 15% 5%);
    --color-surface-10: hsl(0deg 12% 35%);
    --color-surface-11: hsl(0deg 15% 30%);
    --color-surface-2: hsl(0deg 15% 8%);
    --color-surface-3: hsl(0deg 15% 10%);
    --color-surface-4: hsl(0deg 15% 13%);
    --color-surface-5: hsl(0deg 15% 16%);
    --color-surface-6: hsl(0deg 15% 19%);
    --color-surface-7: hsl(0deg 15% 23%);
    --color-surface-8: hsl(0deg 15% 28%);
    --color-surface-9: hsl(0deg 15% 32%);
    --color-surface-a1: hsl(0deg 100% 9% / 0.05);
    --color-surface-a10: hsl(0deg 20% 40% / 0.88);
    --color-surface-a11: hsl(0deg 25% 35% / 0.85);
    --color-surface-a2: hsl(0deg 18% 20% / 0.09);
    --color-surface-a3: hsl(0deg 18% 20% / 0.15);
    --color-surface-a4: hsl(0deg 18% 22% / 0.24);
    --color-surface-a5: hsl(0deg 18% 24% / 0.32);
    --color-surface-a6: hsl(0deg 18% 26% / 0.44);
    --color-surface-a7: hsl(0deg 18% 28% / 0.55);
    --color-surface-a8: hsl(0deg 18% 30% / 0.66);
    --color-surface-a9: hsl(0deg 18% 32% / 0.77);
    --color-text-a--default: var(--color-cyber-green-7);
    --color-text-a--hover: var(--color-cyber-green-7);
    --color-text-accent: hsl(0deg 100% 85%);
    --color-text-primary: hsl(0deg 15% 92%);
    --color-text-secondary: hsl(0deg 20% 75%);
    --color-text-tertiary: hsl(0deg 15% 60%);
    --color-ui-background-1: var(--color-nightsky-1);
    --color-ui-background-2: var(--color-nightsky-2);
    --color-ui-border-1: var(--color-nightsky-a6);
    --color-ui-border-2: var(--color-nightsky-a7);
    --color-ui-border-3: var(--color-nightsky-a8);
    --color-ui-element-1: var(--color-nightsky-a7);
    --color-ui-element-2: var(--color-nightsky-a8);
    --color-ui-element-3: var(--color-nightsky-a9);
    --color-ui-surface-1: var(--color-nightsky-a3);
    --color-ui-surface-2: var(--color-nightsky-a4);
    --color-ui-surface-3: var(--color-nightsky-a5);
    --color-white-a1: hsl(0deg 0 100% / 0.03);
    --color-white-a10: hsl(0deg 0 100% / 0.84);
    --color-white-a2: hsl(0deg 0 100% / 0.06);
    --color-white-a3: hsl(0deg 0 100% / 0.12);
    --color-white-a4: hsl(0deg 0 100% / 0.18);
    --color-white-a5: hsl(0deg 0 100% / 0.24);
    --color-white-a6: hsl(0deg 0 100% / 0.36);
    --color-white-a7: hsl(0deg 0 100% / 0.48);
    --color-white-a8: hsl(0deg 0 100% / 0.6);
    --color-white-a9: hsl(0deg 0 100% / 0.72);
  }
}
