@layer theme-utils {
  @font-face {
    font-weight: 400;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 400;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Regular-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 500;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 500;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Medium-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 600;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-SemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 600;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-SemiBold-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 700;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 700;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-Bold-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 800;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-ExtraBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 800;
    font-family: Hubot-Sans;
    font-style: normal;
    src: url("HubotSans-ExtraBold-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 400;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-Italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 400;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-Italic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 500;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-MediumItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 500;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-MediumItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 600;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-SemiBoldItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 600;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-SemiBoldItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 700;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-BoldItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 700;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-BoldItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 800;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-ExtraBoldItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 800;
    font-family: Hubot-Sans;
    font-style: italic;
    src: url("HubotSans-ExtraBoldItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }
}
