@layer mod-manager-components {
  .game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 146px;
    max-width: 162px;
    padding: 0;
    cursor: pointer;
  }

  .game-card__image-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(59 63 125 / 0.25);
    transition: border-color 0.2s;
    aspect-ratio: 200 / 266;
  }

  .game-card:hover .game-card__image-container {
    border-color: #6c44da;
  }

  .game-card__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .game-card__image {
    position: absolute;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    pointer-events: none;
    inset: 0;
  }

  .game-card:hover .game-card__image {
    transform: scale(1.05); /* scale-105 */
  }

  .game-card__favorite {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: rgb(0 0 0 / 0.5);
    opacity: 0;
    transition: opacity 0.2s;
  }

  .game-card__favorite--active,
  .game-card:hover .game-card__favorite {
    opacity: 1;
  }

  .game-card__favorite-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #f5f5f6;
    font-size: 22px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
  }

  .game-card__label-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
    padding: 12px 0;
  }

  .game-card__label {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    color: #f5f5f6;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    transition: color 0.2s;
  }

  .game-card:hover .game-card__label {
    color: #6c44da;
  }
}
