@layer theme-utils {
  @font-face {
    font-weight: 100;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Thin.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 100;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Thin-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 200;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-ExtraLight.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 200;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-ExtraLight-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 300;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Light.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 300;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Light-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 900;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Black.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 900;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Black-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 100;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-ThinItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 100;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-ThinItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 200;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-ExtraLightItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 200;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-ExtraLightItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 300;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-LightItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 300;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-LightItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }

  @font-face {
    font-weight: 900;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-BlackItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 900;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-BlackItalic-latin.woff2") format("woff2");
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
      U+2191, U+2193, U+2212, U+2215, U+2764, U+FE0F, U+FEFF, U+FFFD;
  }
}
